.table-data thead tr td {
  padding: 10px 8px;
  text-align: center;
  background-color: #f7f8fa;
  border-radius: 10px;
}

.table-data {
  text-align: center;
  border-radius: 5px;
  padding: 8px 0px;
}
.table {
  border-radius: 10px;
  background-color: white;
}
.table-data .table .icon {
  font-size: 20px;
  margin-top: 12px;
}
.table-data .table .icon-color {
  color: #a6a3e7;
  font-size: 20px;
}
.table-data .table .number{
  color: #ccd4de;
  font-size: 15px;
}
.page button{
  border: 1px solid #ccd4de;
  background-color: white;
  margin-right: 5px;  
  padding: 2px 10px;
  border-radius: 5px;
}
.page button:hover{
  background-color: #5a54d2;
  color: white;
  transition: 0.5s;
  border: none;
}
.page .icon{
  font-size: 20px;
  padding: 0px;
}

@media (max-width: 1920px){
  .container{
    width: 100%;
  }
  .table-data thead tr td{
    white-space: nowrap;
  }
  span{
    white-space: nowrap;
  }
}
@media (max-width: 575px){
  .table{
    width: auto;
  }
}

